.jumbotron-dashboard {
	background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url(https://cdna.artstation.com/p/assets/images/images/000/229/358/large/yeong-hao-han-145248-island-lr.jpg?1412144036) ;
	background-size: cover;
	text-align: center;
}

.text-title-jumbo {
    color: white;
    font-size: 6vh;
}

.container-text-jumbo {
    margin-bottom: -30px;
}

.hr-white {
    background-color: white;
}

.jumbotron-deck {
    background-color: #E5E7E9;
}

.subtitle {
    margin-bottom: 7vh;
    
}

.card-dashbboard {
    width: 100%;
}

strong {
    color:  #154360;
}

.card-header {
    margin-bottom: 20px;
    font-size: 200%;
}

.jumbotron-deck {
    background-color: #154360;
}

.btn-primary {
    background-color: #154360;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}


