.logo-home {
	display: block;
    margin-left: auto;
	margin-right: auto;
	height: 150px;
	margin-top: 20vh;
}

.container-title {
	margin-bottom: 10vh;
}
.text-title {
	font-size: 100px;
	color:  #d6eaf8 ;
	margin-top: -120px;
	margin-bottom: -120px;
}

.jumbotron-full {
	height: 100vh;
	background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url(https://cdna.artstation.com/p/assets/images/images/000/229/358/large/yeong-hao-han-145248-island-lr.jpg?1412144036) ;
	background-size: cover;
	text-align: center;
}

.jumbotron-main {
	background: #212f3d ;
}
.jumbotron-white {
	background: white ;
}

.text-title {
	line-height: 4;
	color: white;
}

.container-button {
	display: flex;
	justify-content: center;
	
}

.btn-join {
	padding: 40px 120px;
	background-color:    #1a5276 ;
	font-size: 30px;
	border-radius: 4px;
	text-align: center;
	margin-top: 50px;
}

.card-white {
	background-color: white;
}

.text-button {
	margin-top: -20px;
}

.rounded-circle {
	height: 250px;
	width: 250px;
}

.circle-left {
	margin-right: -40px
}

