display-5 {
    margin-bottom: 30px;
}


.logo-form {
    height: 50%;
    width: 50%;
}

.forgot-password {
    color: white;
}

.loader-spinner-white {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
}

.loader-spinner{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

