.ms-c {
    background-color: grey;
}
.ms-u {
    background-color:  #85c1e9;
}
.ms-w {
    background-color:  #fef9e7;
}
.ms-g {
    background-color:   #48c9b0 ;
}
.ms-r {
    background-color:  #e74c3c ;
}
.ms-b {
    background-color: black;
}

.text-card-deck {
    font-size: 14px;
}
