.logo-navbar {
    height: 50px;
    margin-right: 50px;
}

.navbar-default {
    background:transparent;
	/* border-color:   #1a5276; */
	border: transparent;
    color: white;
    margin-top: -5vh;
    /* margin-bottom: 20vh; */
}

.navbar-inner {
    background:transparent;
}